{% extends 'base.html.twig' %}

{% block title2 %}Product list{% endblock %}

{% block body %}

    <a class="margin-bottom floatright btn btn-primary" href="{{ path('product_new')}}">Add a product</a>

    <table class="display datatable">
        <thead>
            <tr>
                <th>ID</th>
                <th style="width:100px">Product name</th>
                <th>Price</th>
                <th>Product description</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td><a href="product/{{product.id}}">{{ product.name }}</a></td>
                <td>{{ product.price }}</td>
                <td>{{ product.description }}</td>
                <td class="text-center"><a href="product/delete/{{product.id}}">❌</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {%  block javascripts %}
    {{ parent() }}
    <script src="res/jquery.dataTables.min.js?v4" type="text/javascript"></script>
    {% endblock %}
    <script src="res/jquery.dataTables.init.js?v5" type="text/javascript"></script>


{% endblock %}

