<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
            <title>{% block title %}Universal Website{% endblock %}</title>
           {% block stylesheets %}
                <link href="{{ asset('res/reset.css') }}" rel="stylesheet">
				<link href="{{ asset('res/layout.css?v1') }}" rel="stylesheet">
				<link href="{{ asset('res/sm-core-css.css') }}" rel="stylesheet">
				<link href="{{ asset('res/sm-mint.css') }}" rel="stylesheet">
				<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
            {% endblock %}
    </head>
    <body>
        <div class="container">
            {% block header %}
            <div class="header">
                <div id="branding">
                    <a href="{{ path('index') }}">Universal Website</a>
                </div>
            </div>
            <nav>
                <ul id="main-menu" class="sm sm-mint">
                    <li><a href="{{ path('index') }}">Home</a></li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li><a href="{{ path('products') }}">Products</a></li>
                    <li><a href="{{ path('logout') }}">Log out</a></li>
                {% else %}
                    <li><a href="{{ path('login') }}">Log in</a></li>
                    <li><a href="{{ path('register') }}">Register</a></li>
                {% endif %}
                </ul>
            </nav>
            {% endblock %}
            <div class="box round first">
                <h2>{% block title2 %}Home Page{% endblock %}</h2>
                <div class="block">
                    {% block body %}Example content{% endblock %}
                </div>
            </div>
        </div>

    {% block javascripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% endblock %}
    </body>
</html>

